.article-box {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px auto;
}

.article-box .article-poster {
    position: relative;
    width: 800px;
    height: 450px;
}

.article-box .article-details {
    position: absolute;
    bottom: 0%;
    width: 800px;
    padding: 10px 10px 30px 10px;
    background-color: rgba(20, 20, 20, 0.75);
}

.article-box .article-details .article-title,
.article-box .article-details .article-description {
    color: #fff;
}

.article-box .article-details .article-title {
    font-size: 24px;
}

.article-box .article-details .article-author {
    font-size: 16px;
    color: #ddd;
}

.article-box .article-details .article-description {
    font-size: 16px;
}

.article-box .article-details button {
    position: absolute;
    bottom: 5%;
    right: 1%;
    background-color: #aaa;
    transition: all 0.3s ease;
}

.article-box .article-details button:hover {
    background-color: #fff;
}

.article-box .article-details button a{
    color: black;
    transition: all 0.3s ease;
}

.article-box .article-details button a:hover {
    color: #555;
}

.side-box {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
    width: 420px;
}

.side-box .side-poster {
    position: relative;
    width: 430px;
    height: 227.5px;
}

.side-box .side-details {
    position: absolute;
    bottom: 0%;
    width: 430px;
    background-color: rgba(20, 20, 20, 0.75);
    padding: 15px;
}

.side-box .side-details .side-title {
    color: #fff;
    font-size: 16px;
}

a:hover {
    text-decoration: none;
}

.side-box .side-details button a {
    color: #fff;
    transition: all 0.2s ease;
}

.side-box .side-details button a:hover {
    color: #bbb;
}