.article-box {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px auto;
}

.article-box .article-poster {
    position: relative;
    width: 800px;
    height: 450px;
}

.article-box .article-details {
    position: absolute;
    bottom: 0%;
    width: 800px;
    padding: 10px 10px 30px 10px;
    background-color: rgba(20, 20, 20, 0.75);
}

.article-box .article-details .article-title,
.article-box .article-details .article-description {
    color: #fff;
}

.article-box .article-details .article-title {
    font-size: 24px;
}

.article-box .article-details .article-author {
    font-size: 16px;
    color: #ddd;
}

.article-box .article-details .article-description {
    font-size: 16px;
}

.side-box {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
    width: 420px;
}

.side-box .side-poster {
    position: relative;
    width: 430px;
    height: 231px;
}

.side-box .side-details {
    position: absolute;
    bottom: 0%;
    width: 430px;
    background-color: rgba(20, 20, 20, 0.75);
    padding: 15px;
}

.side-box .side-details .side-title {
    color: #fff;
    font-size: 16px;
}




