.filter-box {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 25px auto;
    width: 1100px;
    background-color: #eee;
}

.filter-box .filter-poster {
    position: relative;
    width: 1100px;
}

.filter-box .filter-details {
    position: absolute;
    bottom: 0%;
    width: 1100px;
    padding: 10px 30px 30px 30px;
    background-color: rgba(0,0,0,0.9);
}

.filter-box .filter-details .filter-title,
.filter-box .filter-details .filter-description {
    color: #fff;
    width: 1050px;
}

.filter-box .filter-details .filter-title {
    font-size: 24px;
}

.filter-box .filter-details .filter-description {
    font-size: 16px;
}
