.filter-box {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 25px auto;
	width: 800px;
	background-color: #eee;
	.filter-poster {
		position: relative;
		width: 800px;
	}
	.filter-details {
		position: absolute;
		bottom: 0%;
		width: 800px;
		padding: 10px 30px 10px 30px;
		background-color: rgba(0,0,0,0.4);
		transition: all 0.3s ease;
		&:hover {
			background-color: rgba(0,0,0,0.75);
		}
		.filter-title {
			color: #fff;
			width: 750px;
			font-size: 24px;
		}
		.filter-description {
			color: #fff;
			width: 750px;
			font-size: 16px;
		}
		button {
			margin-top: 10px;
			transition: all 0.3s ease;
			&:hover {
				background-color: #333;
			}
			a {
				color: #fff;
				transition: all 0.3s ease;
				&:hover {
					color: #ccc;
				}
			}
		}
	}
}


@media screen and(max-width:1100px) {
	.filter-box {
		width: 700px;
		background-color: #eee;
		.filter-poster {
			position: relative;
			width: 700px;
		}
		.filter-details {
			position: absolute;
			bottom: 0%;
			width: 700px;
			padding: 10px 30px 10px 30px;
			background-color: rgba(0,0,0,0.4);
			transition: all 0.3s ease;
			&:hover {
				background-color: rgba(0,0,0,0.75);
			}
			.filter-title {
				color: #fff;
				width: 700px;
				font-size: 24px;
			}
			.filter-description {
				color: #fff;
				width: 700px;
				font-size: 16px;
			}
		}
	}
}


@media screen and(max-width:1000px) {
	.filter-box {
		width: 600px;
		background-color: #eee;
		.filter-poster {
			position: relative;
			width: 600px;
		}
		.filter-details {
			position: absolute;
			bottom: 0%;
			width: 600px;
			padding: 10px 30px 10px 30px;
			background-color: rgba(0,0,0,0.4);
			transition: all 0.3s ease;
			&:hover {
				background-color: rgba(0,0,0,0.75);
			}
			.filter-title {
				width: 550px;
			}
			.filter-description {
				width: 550px;
			}
		}
	}
}

@media screen and(max-width:750px) {
	.filter-box {
		width: 500px;
		background-color: #eee;
		.filter-poster {
			position: relative;
			width: 500px;
		}
		.filter-details {
			position: absolute;
			bottom: 0%;
			width: 500px;
			padding: 10px 30px 10px 30px;
			background-color: rgba(0,0,0,0.4);
			transition: all 0.3s ease;
			&:hover {
				background-color: rgba(0,0,0,0.75);
			}
			.filter-title {
				width: 450px;
			}
			.filter-description {
				width: 450px;
			}
		}
	}
}

@media screen and(max-width:630px) {
	.filter-box {
		width: 480px;
		background-color: #eee;
		.filter-poster {
			position: relative;
			width: 480px;
		}
		.filter-details {
			position: absolute;
			bottom: 0%;
			width: 480px;
			padding: 10px 30px 10px 30px;
			background-color: rgba(0,0,0,0.4);
			transition: all 0.3s ease;
			&:hover {
				background-color: rgba(0,0,0,0.75);
			}
			.filter-title {
				width: 420px;
			}
			.filter-description {
				width: 420px;
			}
		}
	}
}

@media screen and(max-width:550px) {
	.filter-box {
		width: 420px;
		background-color: #eee;
		.filter-poster {
			position: relative;
			width: 420px;
		}
		.filter-details {
			position: absolute;
			bottom: 0%;
			width: 420px;
			padding: 10px 30px 10px 30px;
			background-color: rgba(0,0,0,0.4);
			transition: all 0.3s ease;
			&:hover {
				background-color: rgba(0,0,0,0.75);
			}
			.filter-title {
				width: 400px;
				font-size: 16px;
			}
			.filter-description {
				width: 380px;
				font-size: 14px;
			}
		}
	}
}

@media screen and(max-width:505px) {
	.filter-box {
		width: 380px;
		background-color: #eee;
		.filter-poster {
			position: relative;
			width: 380px;
		}
		.filter-details {
			position: absolute;
			bottom: 0%;
			width: 380px;
			padding: 10px 30px 10px 30px;
			background-color: rgba(0,0,0,0.4);
			transition: all 0.3s ease;
			&:hover {
				background-color: rgba(0,0,0,0.75);
			}
			.filter-title {
				width: 340px;
				font-size: 16px;
			}
			.filter-description {
				width: 340px;
				font-size: 14px;
			}
		}
	}
}

@media screen and(max-width:430px) {
	.filter-box {
		width: 330px;
		background-color: #eee;
		.filter-poster {
			position: relative;
			width: 330px;
		}
		.filter-details {
			position: absolute;
			bottom: 0%;
			width: 330px;
			padding: 10px 30px 10px 30px;
			background-color: rgba(0,0,0,0.4);
			transition: all 0.3s ease;
			&:hover {
				background-color: rgba(0,0,0,0.75);
			}
			.filter-title {
				margin-left: -10px;
				margin-bottom: -5px;
				width: 290px;
				font-size: 15px;
			}
			.filter-description {
				width: 300px;
				margin-left: -10px;
				margin-bottom: -5px;
				font-size: 13px;
			}
		}
	}
}