.social-media-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	.social-media-box-title {
		color: #888;
		font-size: 24px;
		font-weight: 100;
	}
	.social-media-box-list {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		list-style: none;
		li {
			margin: auto 5px;
			a {
				i {
					font-size: 48px;
					margin: auto 5px;
					transition: all 0.3s ease;
					&:hover {
						color: #ccc;
					}
				}
			}
		}
	}
}