  .logo-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.logo-box i {
    color: rgb(40, 40, 200);
}

.logo-box span {
    font-weight: 100;
    color: rgb(40, 40, 200);
    transition: all 0.1s ease;
}

.logo-box .logo-message {
    color: #aaa;
    font-weight: 200;
    font-size: 18px;
    position: absolute;
    bottom: -25px;
    left: 5px;
    min-width: 400px;
}