footer {
    min-height: 20vh;
    background-color: #eee;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

@media screen and(max-width:1100px) {
    footer {
        display: flex;
        flex-direction: column;
        padding: 20px;
        .footer-logo {
            margin-left: 0px;
        }
    }
}

@media screen and(max-width:750px) {
    footer {
        display: flex;
        flex-direction: column;
        padding: 20px;
        .footer-logo {
            margin-left: 0px;
        }
    }
}

@media screen and(max-width:650px) {
    footer {
        display: flex;
        flex-direction: column;
        padding: 20px;
        .footer-logo {
            margin-left: 200px;
        }
    }
}

@media screen and(max-width:475px) {
    footer {
        display: flex;
        flex-direction: column;
        padding: 20px auto auto auto;
        .footer-logo {
            margin-left: 160px;
        }
    }
}